@layer base, utils, components;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import '@webtui/css';
@import '@webtui/plugin-nf';


@layer base {
    :root {
        --font-family: "Fira Code", Menlo, Monaco, monospace, "Symbols Nerd Font";
    }

    a {
        color: inherit;
        text-decoration: underline;
    }
}
